= form_tag '', id: "spell-filter",  :method => :get do
  %fieldset
    %label Spell Source
  - @spell_sources.each do |source|
    .checkbox
      %label
        = check_box_tag 'source[]', source, checked = (params[:source]&.include? source)
        = source

  %fieldset
    %label
      Spell School
  - @spell_schools.each do |school|
    .checkbox
      %label
        = check_box_tag 'school[]', school, checked = (params[:school]&.include? school)
        = school

  %fieldset
    %label
      Spell Level
  - @spell_levels.each do |level|
    .checkbox
      %label
        = check_box_tag 'level[]', level.to_i, checked = (params[:level]&.include? level.to_s)
        = (level.to_i == 0) ? "Cantrip" : "Level #{level}"

  %fieldset
    %label
      Spell Type
    .checkbox
      %label
        = check_box_tag 'ritual[]', 1, checked = (params[:ritual]&.include? "1")
        = 'Ritual'


  = submit_tag 'Filter', class: 'btn btn-default'
